.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #0085A1
  }

  .font{
      font-family:Arial, Helvetica, sans-serif
  }
  .body{
      top:60px;
      text-align:center;
      justify-content:center;
      text-align:center;
  }

  .footer{
    left:5;
    width: 99%;
    padding: right 5px;
    bottom: 5px;;
    background-color: #333;
    color: white;
    text-align:center;
    font-size:10px;
    padding: 10px
  }

  .charts{
      justify-content:center !important;
      width: 60%;
  }
  .left{
      justify-content:center;
      width:50%;
  }
  .right{
      right:0px;
      justify-content: right;
      width:50%;
  }

  .caption {
    font-size: 0.875rem;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 0.625rem;
    text-align: center;
  }